body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-align{
  text-align: center;
}

.block{
  padding: 50px;
}

.block__weather{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.block__item {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 120px;
  padding: 20px;
  background: rgba(48, 151, 248, 0.2);
  border-radius: 15px;
  margin: 15px;
}

.block__icon{
  width: 60px;
  height: 60px;
}

.block__text{
  margin-top: 0px;
}

/* pie-chart */

canvas{
  height: 100% !important;
  width: 600px !important;
  margin: 0 auto;
}